.container {
  height: 500px;
  width: 100%;
  background-color: white;
}

.dottedLoading,
.dottedLoading::before {
  position: absolute;
  border: 4px #0075ff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.dottedLoading {
  width: 100px;
  height: 100px;
  border-style: solid solid dotted dotted;
  animation: rotate-right 2s linear infinite;
  -webkit-animation: rotate-right 2s linear infinite;
}

.dottedLoading::before {
  content: "";
  width: 60px;
  height: 60px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-style: solid dotted;
  animation: rotate-left 1s linear infinite;
  -webkit-animation: rotate-left 1s linear infinite;
}

@keyframes rotate-right {
  from {
    rotate: 0;
  }
  to {
    rotate: 1turn;
  }
}

@keyframes rotate-left {
  from {
    rotate: 0;
  }
  to {
    rotate: -1turn;
  }
}
